body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .array {
    border: 2px solid black;
    display: flex;
    border-radius: 5%;
    padding: 5%;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
  }
  .container {
    border: 2px solid black;
    border-radius: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container button {
    margin-top: 5%;
    border: none;
    height: 150%;
    border-radius: 10%;
    background-color: gray;
    color: white;

    padding: 5% 10%;
  }
  .login {
    border: 2px solid black;
    border-radius: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .login button {
    margin-top: 5%;
    border: none;
    height: 150%;
    border-radius: 10%;
    background-color: gray;
    color: white;

    padding: 5% 10%;
  }
  .Register {
    border: 2px solid black;
    border-radius: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Register div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Register button {
    margin-top: 5%;
    border: none;
    height: 150%;
    border-radius: 10%;
    background-color: gray;
    color: white;
    padding: 5% 10%;
  }
  a {
    margin-top: 5%;
  }
  button {
    background-color: gray;
    padding: 5px 10px;
    margin-top: 5%;
    color: white;
  }
  .menu {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 150px;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .menu li {
    display: inline;
  }
  .menu a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
    display: block;
  }
  .menu a.active {
    color: #007bff;
  }
  .menu a:hover {
    color: #007bff;
  }
    
    .container2 {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
    }

    .container2 img {
        width: 10%;
        height: 100%;
        object-fit:cover;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.684);
        transition: all ease-in-out 0.5s;
        }
        
         .container2 img:hover {
        width: 25%;
        }